.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width:180px;
}

.Nav-Item {
    padding: 20px;
    margin: 20px;
}
.Nav-Item ul{
    font-size: 24px;
    display: flex;
    list-style: none;
}
.Nav-Item li {
    padding-left: 15px;
}
.resCard:hover{

    border: 1px solid black;
}
.resCard{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color: #f0f0f0;
    padding: 5px;
    height: 500px;
    width:250px;
    padding: 5px;
    margin: 10px;
}
.res-details{
    padding: 5px;
    margin: 10px;
}
.res-image{
    margin: 5px;
    padding: 15px;
    height: 220px;
    width:205px;
}
.star-image{
    height: 15px;
    width: auto;
}
.res-details h3{
    font-weight:700;
    font-size: larger;
}
.res-details #rating{
    font-weight:600;
    font-size: larger;
}
.res-container{
    display: flex;
    flex-wrap: wrap;   

}